<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="bg-light p-4">
   <button type="button" class="btn btn-outline-primary"><a href="/" class="btn btn-link">Home</a></button>
   <button type="button" class="btn btn-outline-primary"><a href="/projects" class="btn btn-link">Projects</a></button>
   <button type="button" class="btn btn-outline-primary"><a href="/about" class="btn btn-link">About</a></button>
   <button type="button" class="btn btn-outline-primary"><a href="/login" class="btn btn-link">Log in</a></button>
    <button type="button" class="btn btn-outline-primary"><a href="/contact" class="btn btn-link">Contact me</a></button>
  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>