<div id="about">
    <h3 id="about-header">About me</h3>
    <div class="about-container">
        <div class="d-flex flex-row flex-wrap">
            <div class="about-content card m-2" style="width: 18rem;">
                <h3>Education</h3>
                <ul>
                    <li>2016-2020 Liceo Eugenio María de Hostos</li>
                    <li>2017-2018 Academia de Biotecnología Aplicada at Universidad Andrés Bello (Chile)</li>
                    <li>2022 (current) Bachelor in New Media Design</li>
                </ul>
            </div>

            <div class="about-content card m-2" style="width: 18rem;">
                <h3>Languages</h3>
                <ul>
                    <li>Spanish. Native speaker.</li>
                    <li>English. Second language, fluent speaker.</li>
                    <li>Basic Japanese.</li>
                    <li>Basic Swedish.</li>
                </ul>
            </div>

            <div class="about-content card m-2" style="width: 18rem;">
                <a href="/series"><h4>My favorite series :)</h4></a>
            </div>
        </div>
    </div>
</div>
