<form action="/projects/update/{{project.pid}}" method="post">
  <div class="card" style="width: 18rem;">
    <fieldset>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label for="projname">Project name: </label>
            <input
              type="text"
              name="projname"
              id="projname"
              value="{{project.pname}}"
              required="required"
            />
          </li>
          <li class="list-group-item">
            <label for="projyear">Project year: </label>
            <input
              type="number"
              name="projyear"
              id="projyear"
              placeholder="2023"
              value="{{project.pyear}}"
              required="required"
            />
          </li>
          <li class="list-group-item">
            <label for="projtype">Project type: </label>
            <select
              name="projtype"
              id="projtype"
              required="required"
            >
              <option value="Poster" {{#if (typePoster project.ptype)}} selected {{/if}}>Poster</option>
              <option value="University project" {{#if (typeUni project.ptype)}} selected {{/if}}>University Project</option>
              <option value="Art project" {{#if (typeArt project.ptype)}} selected {{/if}}>Art Project</option>
            </select>
          </li>
          <li class="list-group-item">
            <label for="projimg">Project image URL: </label>
            <input
              type="text"
              name="projimg"
              id="projimg"
              placeholder="/img/"
              value="{{project.pimgURL}}"
              required="required"
            />
          </li>
        </ul>
      </div>
    </fieldset>
    <input type="submit" value="Modify project" />
  </div>
</form>
