<div id="login-main">
    <div class="wrapper">
   
    <h1>Log in </h1>
     <form action="/login" method="POST">    
    <div class="input-box">
        <input type="text" name="username"
         placeholder="Username"> 
           <i class='bx bxs-user'></i>
    </div>
     <div class="input-box">
     <input type="password" name="password" 
     placeholder="Password"> 
     <i class='bx bxs-lock-alt'></i>
    </div>
    <input class="submit-btn" type="submit" value="Login">

    <div class="guest-button">
        <p>Enter as a <a href="/">guest</a></p>
    </div>

    </form>
    </div>
</div>